ASPNETCORE_ENVIRONMENT=Development

SEATING_DB_NAME=seating_db
SEATING_DB_USER=seating_user
SEATING_DB_PASSWORD=change_me

SCREENINGS_DB_NAME=screening_db
SCREENINGS_DB_USER=screening_user
SCREENINGS_DB_PASSWORD=change_me