POSTGRES_USER=user_name
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_HOST=host_name

ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING=Host=${POSTGRES_HOST};Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}